body {
	font-family: Tahoma, Geneva, sans-serif;
	margin: 60px auto;
    width: 70%;
    color: black;
    padding: 10px;
}

body h1 {
	text-align: center;
}

body h2{
	text-align: left;
}

body p {
	text-align: left;
	font-size: 14px;
}

a:link { 
	color: #a9a9a9;
	text-decoration: none;
}

a:visited {
	color: #a9a9a9;
	text-decoration: none;
}