body {
	font-family: Tahoma, Geneva, sans-serif;
    width: 70%;
    color:black;
}

a:link { 
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blue;
	text-decoration: none;
}

#left {
	float: left;
	width: 20%;
}

#right {
	width: 80%;
	float: right;
	margin-left: 20px;
}