/*body {
	font-family: Tahoma, Geneva, sans-serif;
    width: 70%;
    color:black;
}

a:link { 
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blue;
	text-decoration: none;
}*/

#left {
	overflow: hidden;
}

#right {
	width: 80%;
	margin-left: 20px;
	float: right;
}